body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav-item{
  margin-right: 40px;
}
a{
  text-decoration: none;
}
.fs-10 { font-size: 12px; }
.fs-7{
  font-size:19px;
}
.fs-8{
  font-size: 17px;
}
.fs-9{
  font-size: 14px;
}
.footer{
  margin: 0;
  padding-top: 20px;
}
.footer-links{
    padding-bottom: 30px;
    display: flex;    
    flex-wrap: wrap;   
    gap: 20px;  
    justify-content: center;
}
.header{
  position: sticky;
  top: 0;
}
.founder-img{
  border-radius: 50%;
  width: 80%;
}